@charset 'utf-8';
.head {
  height: 40px;
  background-color: #2e2828;
}
.head > .container {
  padding: 0;
  height: 100%;
}
.head > .container > ul {
  height: 100%;
}
.head > .container > ul > li {
  height: 100%;
  background-color: #2e2828;
  float: left;
  border: none;
  border-radius: 0;
}
.head > .container > ul > li:not(:first-child):before {
  content: '';
  width: 1px;
  height: 15px;
  display: block;
  position: absolute;
  top: 13px;
  left: 0;
  background-color: #3c3b3b;
}
.head > .container > ul > li > a {
  font-size: 10px;
  text-decoration: none;
  color: #919090;
}
.head > .container > ul > li > a:hover {
  color: white;
}
.head > .container > .headleft {
  float: left;
}
.head > .container > .headright {
  float: right;
}
.headdown {
  height: 91.28571429px;
}
.headdown > img {
  margin-right: 20px;
}
.headdown > .vmall {
  width: 263.57142857px;
  height: 46.28571429px;
}
.headdown > .huaweizhuanqu {
  width: 95.14285714px;
  height: 30.85714286px;
}
.headdown > .honor {
  width: 95.14285714px;
  height: 30.85714286px;
}
.headdown > a {
  text-decoration: none;
  margin-right: 10px;
}
.headdown > a:hover {
  color: red;
}
.headdown > .search {
  width: 218.57142857px;
  height: 28.92857143px;
  float: right;
}
.headdown > .search > input {
  height: 28.92857143px;
  border: none;
  border-radius: 20px 0 0 20px;
  background-color: #ccc;
  float: left;
  text-indent: 1em;
}
.headdown > .search > span {
  display: block;
  width: 28.92857143px;
  height: 28.92857143px;
  float: left;
  border: none;
  border-radius: 0 20px 20px 0;
  line-height: 28.92857143px;
  background-color: #ccc;
  cursor: pointer;
}
.headdown > .search .glyphicon {
  top: 0;
}
.fixed {
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 2;
}
.fixed > .icon-fixed {
  display: block;
  color: #ccc;
  font-size: 2em;
  margin-bottom: 10px;
}
#list {
  position: relative;
  left: 180px;
  top: -530px;
  z-index: 2;
  float: left;
}
#list .list-ul {
  width: 199.28571429px;
  height: 417.85714286px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.08);
  background: #eee;
}
#list .list-ul li {
  width: 199.28571429px;
  height: 41.78571429px;
  padding: 0 5px;
}
#list .list-ul li span {
  float: right;
  padding-top: 15px;
}
#list .list-ul li a {
  display: block;
  float: left;
  height: 41.78571429px;
  width: 160.71428571px;
  line-height: 41.78571429px;
  color: #8f8f8f;
  font-size: 16px;
  text-decoration: none;
}
#list .list-ul li a:hover {
  color: #ca141d;
}
.active {
  background-color: white;
}
.content {
  display: none;
  z-index: 2;
  width: 518.78571429px;
  height: 417.85714286px;
  background-color: white;
  opacity: 0.8;
  position: relative;
  top: -428px;
  left: 199px;
}
.content > img {
  width: 56px;
  height: 72px;
  margin: 20px;
}
.show {
  display: block;
}
.navc {
  height: 88.07142857px;
}
.navc > .left {
  float: left;
  width: 272.57142857px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.navc > .left > img {
  width: 51.42857143px;
  height: 51.42857143px;
}
.navc > .left > .lr > span {
  font-size: 12px;
  display: inline-block;
  padding: 3px;
  border: 1px solid;
  border-radius: 6px;
}
.navc > .left .new {
  border-color: #de5b60;
  color: #de5b60;
}
.navc > .left .vip {
  background-color: #595454;
  color: #f9e1b1;
}
.navc > .left::after {
  content: '';
  width: 1px;
  height: 60px;
  display: block;
  position: absolute;
  top: 13px;
  right: 0;
  background-color: #eee;
}
.navc > .center {
  float: left;
  width: 658.28571429px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navc > .center li {
  width: 46.28571429px;
  height: 46.28571429px;
  border-radius: 50%;
  background: url('../../images/navc/32b46fe090fcab93c1459eae921a2119.png') no-repeat;
  background-size: 385.71428571px 51.42857143px;
}
.navc > .center > .wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navc > .center .wrap:first-child li {
  background-position: -2.57142857px -2.57142857px;
}
.navc > .center .wrap:nth-child(2) li {
  background-position: -54px -2.57142857px;
}
.navc > .center .wrap:nth-child(3) li {
  background-position: -105.42857143px -2.57142857px;
}
.navc > .center .wrap:nth-child(4) li {
  background-position: -155.57142857px -0.64285714px;
}
.navc > .center .wrap:nth-child(5) li {
  background-position: -208.28571429px -2.57142857px;
}
.navc > .center .wrap:nth-child(6) li {
  background-position: -259.71428571px -2.57142857px;
}
.navc > .right {
  width: 160.71428571px;
  height: 100%;
  border-left: 2px solid #f2f2f2;
  float: left;
  position: relative;
  overflow: hidden;
}
.navc > .right > p {
  overflow: hidden;
}
.navc > .right > p > span {
  display: block;
  float: left;
  font-weight: bold;
}
.navc > .right > p > marquee {
  position: absolute;
  top: 0;
  left: 30px;
}
.navc > .right .list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 2px solid #f2f2f2;
}
.navc > .right .list li {
  width: 22px;
  height: 22px;
  background: url('../../images/navc/32b46fe090fcab93c1459eae921a2119.png') no-repeat;
  background-size: 385.71428571px 51.42857143px;
}
.navc > .right .list > .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navc > .right .list > .wrap:first-child li {
  background-position: -312.42857143px -3.85714286px;
}
.navc > .right .list > .wrap:nth-child(2) li {
  background-position: -336.85714286px -5.14285714px;
}
.navc > .right .list > .wrap:last-child li {
  background-position: -363.85714286px -3.85714286px;
}
.navc > .right .list > .wrap > a {
  text-decoration: none;
  font-size: 10px;
}
.newgoods {
  height: 200.57142857px;
  margin: 20px auto;
}
.newgoods > img {
  width: 257.14285714px;
  height: 100%;
  float: left;
  border-radius: 10px;
  margin-right: 17px;
  cursor: pointer;
  transition: 0.5s;
}
.newgoods > img:hover {
  box-shadow: 3px 3px 5px 5px #ccc;
}
.hot > article {
  height: 595.28571429px;
}
.hot > article > img {
  float: left;
  border-radius: 10px;
  width: 231.42857143px;
  transition: 0.5s;
}
.hot > article > img:hover {
  box-shadow: 3px 3px 5px 5px #ccc;
}
.hot > article > .wrapimg {
  background-color: #f9f9f9;
  margin: 5px;
  padding: 13px;
  margin-top: 0;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  transition: 0.5s;
}
.hot > article > .wrapimg:hover {
  box-shadow: 3px 3px 5px 5px #ccc;
}
.hot > article > .wrapimg > img {
  width: 180px;
}
.hot > article > .wrapimg span {
  color: red;
}
.recommendation {
  width: 1170px;
  margin: 0 auto;
}
.recommendation .wrap-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recommendation .wrap-slide > article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.recommendation .wrap-slide > article > img {
  width: 115.71428571px;
}
.recommendation .wrap-slide > article > h6 {
  padding: 5px;
  border-radius: 5px;
  background-color: #ccc;
}
.recommendation .wrap-slide > article > span {
  color: red;
}
