@charset 'utf-8';
@ratio:36/56px;
.head{
    height: 40px;
    background-color: #2e2828;
    >.container{
        padding: 0;
        height: 100%;
        >ul{
            height: 100%;
            >.list-group-item{
                padding: 10px 13px;
                height: 100%;
                background-color: #2e2828;
                float: left;
                border: none;
                border-radius: 0;
                &:not(:first-child):before{
                    content: '';
                    width: 1px;
                    height: 15px;
                    display: block;
                    position: absolute;
                    top: 13px;
                    left: 0;
                    background-color: #3c3b3b;
                }
                >a{
                    font-size: 10px;
                    text-decoration: none;
                    color: #919090;
                    &:hover{
                        color: white;
                    }
                 }
            } 
            
        }
        >.headleft{
            float: left;
        }
        >.headright{
            float: right;
        }
        
    }
}
.headdown{
    height: 142*@ratio;

    >img{
        margin-right: 20px;
    }
    >.vmall{
        width: 410*@ratio;
        height: 72*@ratio;
    }
    >.huaweizhuanqu{
        width: 148*@ratio;
        height: 48*@ratio;
    }
    >.honor{
        width: 148*@ratio;
        height: 48*@ratio;
    }
    >a{
        text-decoration: none;
        margin-right: 10px;
        &:hover{
            color: red;
        }
    }
    >.search{
        width: 340*@ratio;
        height: 45*@ratio;
        float: right;
        // background-color: cyan;
        >input{
            height: 45*@ratio;
            border: none;
            border-radius: 20px 0 0 20px;
            background-color: #ccc;
            float: left;
            text-indent: 1em;
        }
        >span{
            display: block;
            width: 45*@ratio;
            height: 45*@ratio;
            float: left;
            border: none;
            border-radius: 0 20px 20px 0;
            line-height: 45*@ratio;
            background-color: #ccc;
            cursor: pointer;
        }
        .glyphicon{
            top: 0;
        }
    }
}
.fixed{
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index:2;
    >.icon-fixed {
        display: block;
        color: #ccc;
        font-size: 2em;
        margin-bottom: 10px;
    }
}
#list{
    width: 800px;
    height: 500px;
    position: absolute;
    top: 240px;
    left: 185px;
        
    // float: left;
    .list-ul{
        position: absolute;
        left: 80px;
        top: 0;
        z-index: 2;
        width: 310*@ratio;
        height: 650*@ratio;
        border-radius: 10px;
        box-shadow:0 0 28px rgba(0,0,0,0.08);
        background: #eee;

        li{
            list-style: none;
            width: 310*@ratio;
            height: 65*@ratio;
            padding: 0 5px;

            span{
                // float: right;
                padding-top: 15px;
            }
            a{
                display: block;
                float: left;
                height: 65*@ratio;
                width: 200*@ratio;
                line-height: 65*@ratio;
                color: #8f8f8f;
                font-size: 16px;
                text-decoration: none;
                &:hover{
                    color:#ca141d;
                }   
            }
        }
    }
    >.content{
        display: none;
        z-index: 2;
        width: 807*@ratio;
        height: 650*@ratio;
        background-color: white;
        position: absolute;
        top: 0;
        left: 270px;
        >img{
            width: 56px;
            height: 72px;
            margin: 20px;
        }
        &:first-child{
            display: block;
        }
    }
}
.active{
    background-color: white;

}
.show{
    display: block;
}

.navc{
    height: 137*@ratio;
    >.left{
        float: left;
        width: 424*@ratio;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        >img{
            width: 80*@ratio;
            height: 80*@ratio;
        }
        >.lr>span{
            font-size: 12px;
            display: inline-block;
            padding: 3px;
            border: 1px solid;
            border-radius: 6px;
        }
        .new{
            border-color: #de5b60;
            color:#de5b60;
        }
        .vip{
            background-color: #595454;
            color: #f9e1b1;
        }
        &::after{
            content: '';
                    width: 1px;
                    height: 60px;
                    display: block;
                    position: absolute;
                    top: 13px;
                    right: 0;
                    background-color: #eee;
        }
    }
    >.center{
        float: left;
        width: 1024*@ratio;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
            width: 72*@ratio;
            height: 72*@ratio;
            border-radius: 50%;
            background: url('../../images/navc/32b46fe090fcab93c1459eae921a2119.png') no-repeat;
            background-size: 600*@ratio 80*@ratio;
        }
        >.wrap{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .wrap:first-child{
            li{
                background-position: -4*@ratio -4*@ratio;
            }
        }
        .wrap:nth-child(2){
            li{
                background-position: -84*@ratio -4*@ratio;
            }
        }
        .wrap:nth-child(3){
            li{
                background-position: -164*@ratio -4*@ratio;
            }
        }
        .wrap:nth-child(4){
            li{
                background-position: -242*@ratio -1*@ratio;
            }
        }
        .wrap:nth-child(5){
            li{
                background-position: -324*@ratio -4*@ratio;
            }
        }
        .wrap:nth-child(6){
            li{
                background-position: -404*@ratio -4*@ratio;
            }
        }  
    }
    >.right{
        width: 250*@ratio;
        height: 100%;
        border-left: 2px solid #f2f2f2;
        float: left;
        position: relative;
        overflow: hidden;
        >p{
            overflow: hidden;
            >span{
                display: block;
                float: left;
                font-weight: bold;
            }
            >marquee{
                position: absolute;
                top: 0;
                left: 30px;
            }
        }
        .list{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 20px;
            padding-top: 10px;
            border-top: 2px solid #f2f2f2;
            li{
                width: 22px;
                height: 22px;
                background: url('../../images/navc/32b46fe090fcab93c1459eae921a2119.png') no-repeat;
                background-size: 600*@ratio 80*@ratio;
            }
            >.wrap{
            display: flex;
            justify-content: center;
            align-items: center;
            &:first-child{
                li{background-position: -486*@ratio -6*@ratio;}
            }
            &:nth-child(2){
                li{background-position: -524*@ratio -8*@ratio;}
            }
            &:last-child{
                li{background-position: -566*@ratio -6*@ratio;}
            }
            >a{
                text-decoration: none;
                font-size: 10px;
            }
            }
            
        }
    }
}

.newgoods{
    height: 312*@ratio;
    // width: 1170px;
    margin: 20px auto;
    >img{
        width: 400*@ratio;
        height: 100%;
        float: left;
        border-radius: 10px;
        margin-right: 17px;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            box-shadow: 3px 3px 5px 5px #ccc;
        }
    }
}


.hot{
    width: 1170px;
    margin: 0 auto;
    >article{
        height: 926*@ratio;
        >img{
            float: left;
            border-radius: 10px;
            width: 360*@ratio;
            transition: 0.5s;
            &:hover{
                box-shadow: 3px 3px 5px 5px #ccc;
            }
        }
        >.wrapimg{
            background-color: #f9f9f9;
            margin: 5px;
            padding: 13px;
            margin-top: 0;
            float: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            transition: 0.5s;
            &:hover{
                box-shadow: 3px 3px 5px 5px #ccc;
            }
            >img{
                width: 280*@ratio;
            }
            span{
                color: red;
            }
        }
    }
}


.recommendation{
    width: 1170px;
    margin: 0 auto;
    .wrap-slide{
        display: flex;
        justify-content: space-between;
        align-items: center;
        >article{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            >img{
                width: 180*@ratio;
            }
            >h6{
                padding: 5px;
                border-radius: 5px;
                background-color: #ccc;
            }
            >span{
                color: red;
            }
        }
    }
}

.slide3{
    width: 1170px;
    margin: 20px auto;
    border-radius: 10px;
}

.laptop{
    width: 1170px;
    margin: 20px auto;
   
    
    >.wrap-head{
        overflow: hidden;
        >h2{
            float: left;
        }
        >ul{
            float: left;
            >li{
                float: left;
                padding: 30px 10px;
                a{
                    color: #a2a2a2;
                    text-decoration: none;
                    &:hover{
                        color: red;
                    }
                }
            }
        }
    }
    
    >p{
        text-align: right;
        a:hover{
            color: red;
        }
    }
    .wrap-laptop{
        overflow: hidden;
        >.wraplt{
            width: 340*@ratio;
            height: 450*@ratio;
            background-color: #f9f9f9;
            border-radius: 10px;
            float: left;
            margin: 7px;
            transition: 0.5s;
            &:hover{
                box-shadow: 3px 3px 5px 5px #ccc;
            }
            
            >a{
                text-decoration: none;
                display: block;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                >img{
                    width: 280*@ratio;
                }
                >span{
                    color: red;
                }
            }
        }
    }
}

.bigimg{
    width: 1170px;
    height: 200px;
    margin: 20px auto;
    
    
    >img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

footer{
    width: 100%;
    // height: 500px;
    margin-top: 30px;
    background-color: #f9f9f9;
    >.wrapft{
        width: 1170px;
        margin: 0 auto;
        >ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ccc;
            >li{
                float: left;
                padding: 20px 0;
                >a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
                .icon{
                    font-size: 3em;
                    color: red;
                }
            }
        }
        .about{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
            a{
                text-decoration: none;
                color: black;
                &:hover{
                    color: red;
                }
            }
            .wrapft-rt{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-left: 1px solid #ccc;
                padding-left: 20px;
                >span{
                    padding: 10px 20px;
                    color: white;
                    background-color: #2e2828;
                    border-radius: 30px;
                    font-size: 1.2em;
                    &:hover{
                        background-color: #ccc;
                    }
                }
                >article{
                    padding-top: 10px;
                    >.icon{
                        font-size: 2em;
                        &:hover{
                            color: #CCC;
                        }
                    }
                }
            }
        }
    }
    
    >.last{
        width: 1170px;
        margin: 0 auto;
        background-color: cyan;
        >img{
            widows: 82px;
            height: 30px;
            float: left;
        }
        .right{
            float: left;
            >ul{
                >li{
                    float: left;
                    padding:10px;
                    
                }
            }
        }
        a{
            color: #ccc;
            text-decoration: none;
            border-right: 1px solid #ccc;
            padding-right: 10px;
            &:hover{
                color: red;
            }
        }
    }
}

