@charset 'utf-8';
@ratio:36/56px;
.head{
    height: 40px;
    background-color: #2e2828;
    >.container{
        padding: 0;
        height: 100%;
        >ul{
            height: 100%;
            >li{
                height: 100%;
                background-color: #2e2828;
                float: left;
                border: none;
                border-radius: 0;
                &:not(:first-child):before{
                    content: '';
                    width: 1px;
                    height: 15px;
                    display: block;
                    position: absolute;
                    top: 13px;
                    left: 0;
                    background-color: #3c3b3b;
                }
                >a{
                    font-size: 10px;
                    text-decoration: none;
                    color: #919090;
                    &:hover{
                        color: white;
                    }
                }
            }
            
        }
        >.headleft{
            float: left;
        }
        >.headright{
            float: right;
        }
        
    }
}
.headdown{
    height: 142*@ratio;

    >img{
        margin-right: 20px;
    }
    >.vmall{
        width: 410*@ratio;
        height: 72*@ratio;
    }
    >.huaweizhuanqu{
        width: 148*@ratio;
        height: 48*@ratio;
    }
    >.honor{
        width: 148*@ratio;
        height: 48*@ratio;
    }
    >a{
        text-decoration: none;
        margin-right: 10px;
        &:hover{
            color: red;
        }
    }
    >.search{
        width: 340*@ratio;
        height: 45*@ratio;
        float: right;
        // background-color: cyan;
        >input{
            height: 45*@ratio;
            border: none;
            border-radius: 20px 0 0 20px;
            background-color: #ccc;
            float: left;
            text-indent: 1em;
        }
        >span{
            display: block;
            width: 45*@ratio;
            height: 45*@ratio;
            float: left;
            border: none;
            border-radius: 0 20px 20px 0;
            line-height: 45*@ratio;
            background-color: #ccc;
            cursor: pointer;
        }
        .glyphicon{
            top: 0;
        }
    }
}
.fixed{
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index:2;
}

